.container {
  margin: 50px 50px 50px 50px;
  width: auto;
}

tr:hover {
  background-color: #D3D3D3;
}

.processing {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  /* margin: 200px 50px 600px 600px; !important */
}
